/*
	hlavni styl stranky
	stranka neni optimalizovana pro IE	
*/

/* rozlozeni stranky */
body {
	/static/*
	
	*/static/
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	background: white; 
	text-align: center;
	font-family: sans;
}

#window {
	display: block;
	padding: 5px;
	width: 830px;
	background: white;
	text-align:left;
}


#head-top {
	width: 830px;
	height: 50px;
	background-image: url('/static/bg-blue-top.png');
	margin:0px;
}

#head-content {
	width: 755px;
	height: 130px;
	padding: 35px;
	background-image: url('/static/bg-blue-body.png');
	margin: 0px;
}

#content {
	width: 755px;
	padding: 35px;
	background-image: url('/static/bg-blue-body.png');
}

#footer {
	width: 755px;
	height: 130px;
	padding: 35px;	
	background-image: url('/static/bg-blue-bottom1.png');
	background-repeat:  no-repeat;
}


/*  MENU  */
nav {
	display: block;
	margin-left: 190px; 
	padding-left: 10px;
	width: 580px;
	height: 30px;
	background-image: url('/static/menu_black.png');
	text-align:center;
}

nav li {
	display: inline;
	list-style-type: none;
	float: left;
	width: 110px;
	height: 20px;
	padding: 5px;
	background-image: url('/static/menu_black.png');
}
a {
    text-decoration: none;
}

nav li.active {
	display: inline;
	list-style-type: none;
	float: left;
	width: 110px;
	height: 20px;
	padding: 5px;
	background-image: url('/static/menu_red.png');
}


a, a:visited {
    text-decoration: none;
    color: white;
}

h3 {
	font-size: 28px;
	text-shadow: 2px 2px 5px #aaa
}

.head_logo {
	width: 180px;
}

.head_title {
	text-align: right;
	font-size: 34px;
	text-shadow: 5px 2px 10px #aaa
}

.head_slogan {
	text-align: right;
	font-size: 18px;
	text-shadow: 5px 2px 10px #aaa
}
